<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="4">
    <groups>
        <run>
            <exclude name="skip"/>
            <exclude name="wip"/>
        </run>
    </groups>
    <parameter name="env" value="test"/>
    <test name="TestNG TiddlyWiki Firefox Desktop Spanish tests" enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Firefox Desktop English tests" enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Chrome Desktop Spanish tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Chrome Desktop English tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="desktop"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Mobile Spanish tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="es"/>
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Mobile English tests" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="en"/>
        <groups>
            <run>
                <include name="mobile"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Firefox Desktop Spanish Create tiddler and search test" enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <parameter name="title" value="Título de mi nuevo tiddler"/>
        <parameter name="body" value="Contenido de mi nuevo tiddler"/>
        <parameter name="searchResult" value="1 coincidencias"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Firefox Desktop English Create tiddler and search test" enabled="true">
        <parameter name="browser" value="firefox"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <parameter name="title" value="My new tiddler title"/>
        <parameter name="body" value="My new tiddler body"/>
        <parameter name="searchResult" value="1 matches"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Chrome Desktop Spanish Create tiddler and search test" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="es"/>
        <parameter name="title" value="Título de mi nuevo tiddler"/>
        <parameter name="body" value="Contenido de mi nuevo tiddler"/>
        <parameter name="searchResult" value="1 coincidencias"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Chrome Desktop English Create tiddler and search test" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="false"/>
        <parameter name="lang" value="en"/>
        <parameter name="title" value="My new tiddler title"/>
        <parameter name="body" value="My new tiddler body"/>
        <parameter name="searchResult" value="1 matches"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Mobile Spanish Create tiddler and search test" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="es"/>
        <parameter name="title" value="Título de mi nuevo tiddler"/>
        <parameter name="body" value="Contenido de mi nuevo tiddler"/>
        <parameter name="searchResult" value="1 coincidencias"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
    <test name="TestNG TiddlyWiki Mobile English Create tiddler and search test" enabled="true">
        <parameter name="browser" value="chrome"/>
        <parameter name="mobile" value="true"/>
        <parameter name="lang" value="en"/>
        <parameter name="title" value="My new tiddler title"/>
        <parameter name="body" value="My new tiddler body"/>
        <parameter name="searchResult" value="1 matches"/>
        <groups>
            <run>
                <include name="desktop.search"/>
            </run>
        </groups>
        <classes>
            <class name="{{ cookiecutter.group }}.tiddlywikitestng.testng.TestngTest"/>
        </classes>
    </test>
</suite>
