<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Complete suite" data-provider-thread-count="1">
    <test name="Complete plan" enabled="true" parallel="none">
        <classes>
            <class name="{{ cookiecutter.group }}.apidemosandroidcucumber.cucumber.runner.AllTestRunner"/>
        </classes>
    </test>
</suite>
